.metadata
.recommenders
RemoteSystemsTempFiles
1111
test
myProject/target
myProject/.classpath
myProject/.project
myProject/.settings
Zamowienie/target
Zamowienie/.classpath
Zamowienie/.project
Zamowienie/.settings
